<footer class="footer bg-dark text-white">
    <div class="p-3 d-flex justify-content-center align-items-center social">
        <p href="#!" role="button"><i class='fa fa-facebook'></i></p>
        <p href="#!" role="button"><i class='fa fa-twitter'></i></p>
        <p href="#!" role="button"><i class='fa fa-google'></i></p>
        <p href="#!" role="button"><i class='fa fa-instagram'></i></p>
        <p href="#!" role="button"><i class='fa fa-linkedin'></i></p>
        <p href="#!" role="button"><i class='fa fa-github'></i></p>
    </div>
    <p class="copyright text-center"> © 2022 Copyright: Maria Zakharova</p>
</footer>